<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApiKey" value="1z29Q6Xjy1wVNhICRxF1vYAYXtdwH1Zj"/>
    <add key="AutocompleteUrl" value="http://dataservice.accuweather.com/locations/v1/cities/autocomplete?apikey={0}&amp;q={1}"/>
    <add key="ConditionsURL" value="http://dataservice.accuweather.com/currentconditions/v1/{0}?apikey={1}"/>
  </appSettings>
  
  <connectionStrings>
    <add name="weather" connectionString="Data Source=;Initial Catalog=DavidA;integrated security=True;"/>
  </connectionStrings>
</configuration>
